body {
  margin: 0;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 30px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.button {
  align-items: center;
  background-color: #3364FF;
  border: 0;
  border-radius: 20px;
  color: #fff;
  display: flex;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 18px;
  justify-content: center;
  height: 50px;
  outline: 0;
  width: 200px;
}

.button:active {
  background-color: #2151E5;
}

.quote {
  align-items: center;
  display: flex;
  height: 200px;
}
